body{
    font-family:Arial, Verdana;
    color: #FFFFFF;
    background-color: #000000;
    margin: 20px;    
  }
  h1{
    font-size: 42px;
    text-align: center;
    padding: 15px;

  }
  h2{
    color: #0D0D0D;
    font-size: 30px;

  }
  p{
    /* make your paragraphs 14pt, double-spaced and 10px of padding on the left and right */
    font-size: 14pt;
    line-height: 2;
    padding-left: 10px;
    padding-right: 10px;
  }
  a{
    /* make your links red, italics, and underlined */
    color: red;
    font-style: italic;
    text-decoration: underline;
  }
  a:hover{
    /* make the background color of your link black and the text white when you hover over it */
    background-color: black;
    color: white;
  }
  ul{
    /* make bullet points red squares */
    list-style-type: square;
    color: red;
    padding-left: 40px;
    
  }
  img{
    /* make the image 300px wide and 220px high, 10px of padding, and a 3px dashed border in the color of your choice */
    /* padding: 10px; */
    margin: auto;
    border: dashed 3px whitesmoke;
    display: block;

    /* width: 45%; */
  }
  footer{
    /* style the footer so it has a black background and white text */
    background-color: black;
    color: white;
  }
  